/* Стилизация кнопки */
.btn {
    border-radius: 8px;
    width: 189px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.btn:disabled {
    opacity: 0.3;
}

.btn-primary {
    background: #4263EB;
    border: 0px;
    color: #FFFFFF;
}

.btn-primary:hover:not(:disabled) {
    background: #2342C0;
    cursor: pointer;
}

.btn-secondary {
    background: #7048E8;
    border: 0px;
    color: #FFFFFF;
}

.btn-secondary:hover:not(:disabled) {
    background: #5028C6;
    cursor: pointer;
}

.btn-alternate {
    background:white;
    border: 1px solid #ACB5BD;
    color: #495057;
}

.btn-alternate:hover:not(:disabled) {
    background: white;
    cursor: pointer;
    border: 1px solid #212429;
}
