/* Стилизация кнопки */
.btn {
    border-radius: 8px;
    width: 189px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    border: 0px;
}

.btn:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.btn_primary {
    background: var(--blue-2); 
    color: var(--white);
}

.btn_primary:hover:not(:disabled) {
    background: var(--blue-3);
}

.btn_secondary {
    background: var(--purple);
    color: var(--white);
}

.btn_secondary:hover:not(:disabled) {
    background: var(--blue-4);
}

.btn_alternate {
    background: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.btn_alternate:hover:not(:disabled) {
    background: var(--white);
    border: 1px solid var(--black);
}
