header {
    background-color: red;
    text-align: center;
    color: white;
    height: 90px;
    font-size: 40px;
}

nav {
    background-color: orange;
    height: 35px;
    padding-top: 10px;
    font-size: 20px;
}

nav a {
    color: white;
}

main {
    background-color: green;
    padding: 10px;
}

main article {
    background-color: blue;
    color: white;
    padding: 15px;
}

main article:first-child {
    margin-bottom: 5px;
}

footer {
    background-color: #BD00FF;
    height: 55px;
    color: white;
    font-size: 40px;
    text-align: center;
}