.card {
    width: 350px;
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 32px 30px;
    align-items: center;
}

.card__title {
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}