.card {
    width: 35.0rem;
    height: 36.7rem;
    background: var(--white);
    box-shadow: 0px .2rem .4rem rgba(33, 36, 41, 0.05);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 2.5rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.card__content {
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: 0 3rem;
}

@media screen and (max-width: 480px) {
    .card__content {
        border-bottom: 1px solid var(--grey-2);
    }
}

.card_vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_vertical > * {
    margin-bottom: .5rem;
}