@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --white-2: #F9FAFC;
    --white-3: #E2E6E8;
    --white-4: #F3F5F5;
    --white-5: #E3E7EA;
    --black: #010202;
    --black-2: #334D6E;
    --black-3: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --blue-2: #4263EB;
    --blue-3: #2342C0;
    --blue-4: #5028C6;
    --blue-5: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #334D6E;
    --grey-6: #90A0B7;
    --grey-7: #C4C4C4;
    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
    --bg-color: var(--white);
    --bg-color-2: var(--white-2);
    --text-color: var(--black);
}

.dark-mode * {
    --bg-color: var(--black);
    --bg-color-2: var(--black-3);
    --text-color: var(--white);
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 920px) {
    html {
        font-size: 9px;
    }
}