.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: var(--black);
    font: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 3.8rem;
    line-height: 4.8rem;
    margin-top: 7.1rem;
    text-align: center;

}

.footer__text {
    margin-top: 3.2rem;
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black);
    margin-bottom: 13.6rem;
    width: 64.0rem;
}

@media screen and (max-width: 600px) and (min-width: 401px) {
    .footer__text {
        width: 50rem;
    }
}

@media screen and (max-width: 400px) {
    .footer__text {
        width: 40rem;
    }
}
    