.accordion {
    border: 1px solid var(--grey-3);
    width: 73.0rem;
    border-radius: .8rem;
    padding-top: 2.4rem;
    padding-left: 3.2rem;
    padding-right: 4.8rem;
    padding-bottom: 3.2rem;

}

.accordion__summary {
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black);
    cursor: pointer;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__content {
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--grey-4);
    margin-bottom: 0;
}