.histogram {
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem 2.4rem 2.4rem 2.4rem ;

}

.histogram__chart {
    display: flex;
    align-items: flex-end;
    margin-top: 3.9rem;
    height: 5.0rem;
} 

.histogram__col {
    background-color: var(--blue-2);
    margin-right: 1px;
    flex-grow: 1;
    flex-basis: .9rem;

}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__view {
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--blue-2);
    margin-top: .3rem;
}

.histogram__orders {
    display: flex;
    flex-direction: column;
}

.histogram__orders_number {
    margin-top: .8rem;
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 2.0rem;
    line-height: 2.6rem;
    color: var(--black);
}

.histogram__orders_title {
    font: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--black);
}